<% provide(:title, 'Home') %> 

 <div class="jumbotron">
  <div class="container">

  
   
		<div class="highlight">
    <h1> Dine Right. </h1>
		<h2> Find hosts who will prepare you a home cooked meal. </h2>  
      <div class="btn-group">
      <a href="/meals" class="btn btn-primary btn-lg" role="button">FIND A MEAL</a> 
      </div>
    </div>
</div>
  </div>
 
    
 

