<% provide(:title, 'Home') %> 

	<div class="banner">
		<div class="container">

		<h1> Travel Far. Eat Local. </h1>
		<h2> Find hosts who will prepare you a home cooked meal. </h2>  
  					<div class="btn-group">
  

  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Find a meal <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">

    <li><a href="#">NEW YORK, NY</a></li>
    <li><a href="#">SEATTLE, WA</a></li>
    <li><a href="#">FLORENCE, ITALY</a></li>
    <li class="divider"></li>
    <li><a href="#">COMING SOON!</a></li>
  </ul>
</div>
  	</div>    
	</div>


<div class="body">
	<div class="container">
	
  			<h1> Featured Hosts </h1>
 

  		
  	</div>
  		</div>

