<% provide(:title, 'Home') %> 

<div class="jumbotron">
  <div class="container">

  
   
    <div class = "boxt">
      <h1> Dine Right. </h1>
		  <h4> Find hosts who will prepare you a home cooked meal. </h2>
      <div class="center">
        
      <a href = "/meals" class="btn btn-primary large">SEE MEALS </a>
      
    
      </button>
      </div>


    </div>
    
  </div>
</div>
 

<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <h3> Meal Types  </h3>
      <p> Already have an idea of when you want to eat? See what is available for any time of day. </p>
      
    </div>
  </div>

  <div class="row">
   
    <div class="col-md-4">        
    <%= link_to image_tag("/assets/brunch.jpg", size: "350x230", class: "thumbnail"),'/meals' %>
    <h4> <center> Brunch </center></h4>  
    </div>
  
      <div class="col-md-4">        
    <%= link_to image_tag("/assets/lunch.jpg", size: "350x230", class: "thumbnail"),'/meals' %>
    <h4> <center> Lunch </center></h4>  
    </div>
        <div class="col-md-4">        
    <%= link_to image_tag("/assets/dinner.jpg", size: "350x230", class: "thumbnail"),'/meals' %>
    <h4> <center> Dinner </center></h4>  
    </div>

 
  
  </div>
</div>
    
</div>