<% provide(:title, 'Home') %> 

	<div class="banner">
		<div class="container">

		<h1> Travel Far. Eat Local. </h1>
		<h2> Find hosts who will prepare you a home cooked meal. </h2>  


<div class="btn-group">
  

<a href="/meals" class="btn btn-primary btn-lg" role="button">FIND MEALS</a> 
  
</div>
</div>    
</div>


<div class="body">
	<div class="container">
	
  			<h1> Featured Hosts </h1>
 

  		
  	</div>
  		</div>

