    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-custom">
        <div class="container">
          <%= link_to "NAME/LOGO", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "HOST A MEAL",    signup_path %></li>
              <li><%= link_to "SIGN UP",    '#' %></li>
              <li><%= link_to "LOGIN", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>